@import "../../../scss/_config.scss";
@import "../../../scss/buttons.scss";

.manage-tours-container {
  height: 80vh;
  width: 100%;
  overflow: auto;
  .manage-tours-wrapper {
    padding: 0.5rem;
    margin: 0.1rem auto;
  }
}

@include m {
  .manage-tours-container {
    padding: 0.5rem;
    .manage-tours-wrapper {
      padding: 0;
      margin: 0.2rem auto;
    }
  }
}

@include s {
  .manage-tours-container {
    padding: 0.5rem;
    .manage-tours-wrapper {
      margin: auto;
      padding: 0;
    }
  }
}
