@import "../../../../../scss/_config.scss";

.app__navbar__links {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  list-style: none;

  li {
    @include navlinks;
    margin: 0 0.5rem;
    cursor: pointer;
    a {
      display: inline-block;
      font-size: calc(12px + 0.390625vw);
      color: $font-white;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      width: 125px;
      padding: 0.5rem;
      text-align: center;
      &:hover {
        background-color: $main-yellow;
        border: 1px solid white;
      }
    }
  }
}

@include s {
  .app__navbar__links {
    display: none;
  }
}
@include m {
  .app__navbar__links {
    display: none;
  }
}
