@import '../../../../../scss/_config.scss';
.app__navbar__right {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  height: 50px;
  li {
    display: flex;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    margin: 0 0.25rem;
    height: fit-content;
    display: inline-block;

    a {
      @include navlinks;
      color: $font-white;
      text-decoration: none;
      font-size: calc(12px + 0.390625vw);
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $main-yellow;
      }
    }

    .a {
      @include navlinks;
      color: $font-white;
      text-decoration: none;
      font-size: calc(12px + 0.390625vw);
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $main-yellow;
      }
    }
  }
  .app__navbar_langauge {
    list-style: none;
    margin-left: 0.5rem;
  }
}

@include s {
  .app__navbar__right {
    display: none;
  }
}
@include m {
  .app__navbar__right {
    display: none;
  }
}
