@import '../../../scss/_config.scss';

.marginat {
  margin: auto;
  // height:80vh;
  margin-bottom: 1rem;
  .not-found {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    height: 68vh;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}
