@import '../../../scss/_config.scss';
@import '../../../scss/buttons.scss';

.settings-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .settings-wrapper {
    //border: 2px solid $main-yellow;
    width: 60%;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
    .settings-h {
      text-align: start;
      font-family: 'Roboto', sans-serif;
      font-size: calc(26px + 0.390625vw);
      font-weight: 500;
    }
    .settings-form {
      display: flex;
      flex-direction: column;
      .settings-form-group {
        display: flex;
        flex-direction: column;
      }
      .btn-login {
        margin: 1rem 0;
        color: black;
        border: black solid 1px;
        border-radius: 5px;
      }
    }
  }
}

// Meadia queries---------------

@include s {
}

@include m {
  .settings-div {
    .settings-wrapper {
      width: 80%;
      margin: 1rem auto;
      .settings-form {
        .btn-login {
          font-size: 1.2rem;
        }
      }
    }
  }
}
