@import '../../../../scss/_config.scss';

.main-footer {
  color: $font-white;
  font-family: 'Raleway', sans-serif;
  background-color: $main-grey4;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer-container {
    padding: 1em;
    .last-row {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5em;

      .col-sm {
        font-size: 0.8rem;
      }

      .social-icons {
        display: flex;

        .icons {
          margin: 0 0.5em;
          a {
            color: $font-white;
          }
          a:hover {
            cursor: pointer;
          }
        }
      }
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      height: 100%;

      .col {
        flex: 33.3%;
        padding: 1em;

        .faq {
          text-decoration: none;
          // color: $font-white;
        }

        .faq:hover {
          cursor: pointer;
        }

        h4 {
          font-family: $font-heading;
          color: $font-white;
          text-decoration: none;
        }

        .list-unstyled {
          list-style-type: none;
          @include footerText;

          li {
            padding: 0.2em 0;
          }
        }
      }
    }
  }
}

// Media queries

// }
// // for tablet
// @include m {
//   .main-footer{
//     background-color: green;
//     flex-direction: column;
//   }
// }
// // for desktop
// @include l {
//   .main-footer{
//   background-color: black;
//   flex-direction: column;
//   }
// }
