@import '../../../scss/_config.scss';

.single-tour {
  margin: auto;
  background-color: $main-light;
  h1 {
    text-align: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: calc(40px + 0.390625vw);
    font-weight: 500;
  }

  .main-img-div {
    margin-top: 6rem;
    width: 100%;
    height: 40vh;
    display: flex;
    margin-bottom: 1rem;
    img {
      object-fit: cover;
      height: 100%;
      width: 40%;
    }
    .inner-text-container {
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 60%;

      .main-description {
        overflow: auto;
        padding: 0.5rem;
        text-align: center;
        align-items: flex-end;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: calc(16px + 0.390625vw);
      }
    }
  }

  .main-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $main-yellow;
    margin-bottom: 1rem;
    height: 450px;
    .days-container {
      display: flex;
      height: 100%;
      width: 50%;
      .days-list {
        width: 30%;
        padding: 0.5rem;
        max-height: 445px;
        margin: auto 0;
        overflow-y: auto;
        li {
          text-decoration: none;
          list-style-type: none;
          text-align: center;
          padding: 1rem;
          border-bottom: 1px solid $main-yellow;
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: calc(16px + 0.390625vw);
          cursor: pointer;
          position: relative;
          transition: all 1s;
          &:hover {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            background: $main-yellow;
            color: white;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .day-details {
        padding: 0.5rem;
        width: 75%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        p {
          margin-top: 0.3rem;
          padding: 0.3rem;
          border-top: solid 1px $main-yellow;
          font-size: calc(16px + 0.390625vw);
        }

        h3 {
          padding: 0.3rem;
          font-weight: 500;
          font-family: 'Roboto', sans-serif;
          font-size: calc(18px + 0.390625vw);
        }
        h5 {
          font-weight: 400;
          font-family: 'Roboto', sans-serif;
          font-size: calc(12px + 0.390625vw);
          padding: 0.3rem;
          font-style: italic;
        }
        h6 {
          font-size: calc(10px + 0.390625vw);
          font-family: $font-paragraph;
          font-style: italic;
        }
      }
    }
    .middle-img {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }
    .middle-multiple-img {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      height: 100%;
      .middle-img-small {
        width: 50%;
        object-fit: cover;
        border-right: solid 2px $main-yellow;
      }
    }
  }
}

// Media Queries--------------------------------------

@include m {
  .single-tour {
    .main-middle {
      height: auto;
      .middle-img-small {
        display: none;
      }
      .middle-multiple-img {
        display: none;
      }
      .middle-img {
        width: 100%;
        object-fit: cover;
      }
      .days-container {
        width: 100%;
        border-bottom: solid 1px $main-yellow;
        max-height: 375px;
        .days-list {
          max-height: 355px;
          margin: auto 0;
        }
      }
    }
  }
}

@include s {
  .single-tour {
    padding: 0;
    .main-img-div {
      margin: 0 auto 1rem;
      flex-wrap: wrap;
      height: auto;
      img {
        width: 100%;
      }
      .inner-text-container {
        width: 100%;
        .main-description {
          width: 90%;
          max-height: 350px;
        }
      }
    }
    .main-middle {
      .days-container {
        padding: 0.5rem;
      }
    }
  }
}
