@import '../../../scss/_config.scss';

.container1 {
  width: 100vw;
  padding: 0.5rem;
  font-size: calc(12px + 0.390625vw);
  min-height: 100vh;
}

.container2 {
  flex-direction: row;
  display: flex;
  margin-bottom: 0;
  width: 100%;
  margin-top: 6rem;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  // default background image
  background-image: url('../../assets/small-logo.png');
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tourTitle {
      font-size: calc(12px + 0.390625vw);
      margin-top: 6rem;
      color: white;
      margin: auto;
    }
    .tourPara {
      font-size: calc(12px + 0.390625vw);
      margin: auto;
      padding: 2rem;
      color: white;
    }
  }
}

.img-hiking {
  background-image: url('../../assets/Shira-tour.jpg');
}

.img-safari {
  background-image: url('../../assets/Safari4_lmsxry.jpg');
}

.img-coffee {
  background-image: url('../../assets/Umbwe-2route_h300te.jpg');
}

.coverImg {
  width: calc(100% - 80px);
  margin-bottom: 2rem;
}

@include s {
  .container2 {
    flex-wrap: wrap;
  }
  .leftSide {
    font-size: calc(12px + 0.390625vw);
    height: fit-content;
    // background-image: url('../../assets/Safari4_lmsxry.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .rightSideTours {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .rightSide {
    width: 100%;
    & > .MuiGrid-root {
      min-height: 60vh;
      overflow-y: 'unset';
      background-color: 'purple';
    }
  }
}

@include m {
  .container2 {
    flex-wrap: wrap;
    margin-bottom: 50px;
    .leftSide {
      height: fit-content;
      // background-image: url('../../assets/Safari4_lmsxry.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .rightSide {
      width: 100%;
      margin-right: calc(10% + 2em) !important;
      margin-left: calc(10% + 2em) !important;
      & > .MuiGrid-root {
        min-height: 60vh;
        overflow-y: 'unset';
        background-color: 'purple';
      }
    }
  }
}

@include l {
  .container2 {
    flex-wrap: no-wrap;
    margin-bottom: 50px;
    .leftSide {
      width: 50%;
      height: 90vh;
    }
    .rightSide {
      width: 50%;
      height: 98vh;
      & > .MuiGrid-root {
        position: relative;
        top: 0.4em;
        height: 88vh;
        overflow-y: 'scroll';
        background-color: 'purple';
      }
    }
  }
}
