@import '../../../scss/_config.scss';

.container1 {
  width: 100vw;
  padding: 0.5rem;
  font-size: calc(12px + 0.390625vw);
  min-height: 100vh;
}

.container2 {
  flex-direction: row;
  display: flex;
  margin-bottom: 0;
  width: 100%;
  margin-top: 6rem;
  .gridRight {
    top: 1.2em;
  }
}

.tourTitle {
  color: $main-yellow !important;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 // padding-right: 2rem;
 // padding-left: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  background-image: url('../../assets/hiking_tours.jpg');
  width: 100%;
  .insideLeft {
    .tourPara {
      padding: 0;
    }

    h2 {
      font-size: calc(1.75rem + 0.390625vw);
      color: white;
      margin-bottom: 0.35em;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .tourTitle {
      margin-top: 6rem;
      color: white;
      margin: auto;
    }
    .tourPara {
      font-size: calc(12px + 0.390625vw);
      color: rgb(255, 255, 255);
    }
  }
}

.img-hiking {
  background-image: url('../../assets/hiking_tours.jpg');
}

.img-safari {
  background-image: url('../../assets/safari_unsplash.jpg');
}

.img-coffee {
  background-image: url('../../assets/cofeeMarangu_cover.jpg');
}

.coverImg {
  width: calc(100% - 80px);
  margin-bottom: 2rem;
}

.overlay {
  background: rgba(169, 136, 52, 0.344);
  margin: 0 auto;
  max-width: min(700px, 80%);
  padding: 1em;
  margin-bottom: 4em;
}

.moreOpaque {
  background: rgba(114, 116, 88, 0.709);
}

.moreOpaque2 {
  background: rgba(208, 150, 92, 0.584);
}

.conditionalText {
  position: relative;
  font-weight: 500;
  font-size: calc(12px + 0.390625vw);
}

@include s {
  .container2 {
    flex-wrap: wrap;
  }
  .leftSide {
    font-size: calc(12px + 0.390625vw);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    }

  .rightSideTours {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .rightSide {
    width: 100%;
    & > .MuiGrid-root {
      min-height: 100vh;
      overflow-y: 'unset';
      background-color: 'purple';
    }
  }
}


@include l {
  .container2 {
    .gridRight {
      height: 87vh;
    }
  }
}
