@use '../../../scss/_config.scss' as *;

.mainDown {
  background-color: $main-light;
  margin: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;

  h3{
    font-family: "Roboto", sans-serif;
    font-size:2rem;
    font-weight: 400;
  }


}

.tours {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin:0 auto;
  justify-content: space-around;
  width: 100%;
  background-color: $main-light;
}
.hiking,
.safari,
.coffee,
.custom {
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  text-align: right;
  color: $font-white;
  font-family: $font-paragraph;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(12em + 0.390625vw);
  height: calc(12em + 0.390625vw);
  margin: 0.5em;
  overflow: hidden;
  position: relative;
  background: radial-gradient(#111 50%, #000 100%);

  &:hover {
    img {
      cursor: pointer;
      //! scale the image to 1.2 times its original size
      transform: scaleY(1.05);
      opacity: 0.3;
      transition: all 0.3s ease-out;
    }
    p {
      transform: translateY(0px);
      opacity: 1;
      transition: all 0.3s ease-out;
    }
  }

  p {
    transform: translateY(70px);
    opacity: 0;
  }

  .textCateg {
    font-size: calc(1.75rem + 0.390625vw);
    width: 100%;
    color: white;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
  }
  img {
    display: block;
    width:calc(12em + 0.390625vw);
    height: calc(12em + 0.390625vw);
//! scale the image to 1.2 times its original size
    transform: scaleY(1);
    transition: all 0.5s ease-out;
  }
}
a {
  text-decoration: none;
  text-decoration-line: none;
}


.videos {
  background-color: $main-light;
  padding-bottom: 0.5rem;
  width: 90%;
  margin: auto;
  font-family: $font-heading;

  .videoTitle {
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    margin: 0;
    text-align: center;
  }
  .player {
    overflow: hidden;
    padding-bottom: 300px;
    width: 100%;
    height: 450px;
    margin: auto;
    position: relative;

    iframe {
      left: 0;
      top: 0;
      height: 450px;
      width: 100%;
      position: absolute;
    }
  }
}


//media queries 


@include s {
  .hiking,
  .safari,
  .coffee,
  .custom {
    width: 9em;
    height:9em;
    margin-bottom:1.4em;
    justify-content: center;
    
      img {
        width:9em;
        height: 9em;
      }
    
  }

    }



@include m {
  .tours {
   // background-color: red;
    justify-content: space-around;
    //padding: 4em;
    width: 80%;
   
  .hiking,
  .safari,
  .coffee,
  .custom {
    width: calc(14em + 3.5em);
    height:calc(14em + 3.5em);
   
   
    
      img {
        width: calc(14em + 3.5em);
        height:calc(14em + 3.5em);
      }
  
    }
}}
