@import '../../../scss/_config.scss';


.bg-Animalprints1{
  
  transform: rotate(70deg);


}

.bg-Animalprints{
  opacity:0.4;
}

.mainup {
  //background-color: $main-light;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainup {
  position:"relative"; 
  z-index:"2";
  .first {
    padding: $padding-small;
    padding:2em;
    display: flex;
    text-align: center;
    .text {
      padding: 1rem;
      width: 55%;
      margin: auto;
      h2 {
        @include subtitles;
        font-size: calc(2.5rem + 0.390625vw);
        font-weight: 500;
      }
      p {
        @include paragraph;
        font-size: calc(1rem + 0.390625vw);
      }
    }
    img {
      min-width: 300px;
      width: 40%;
      height: auto;
      max-height: 400px;
      object-fit: cover;
    }
  }

  .values-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div {
      p {
        padding: 0.5rem;
        margin: 0.5rem;
      }
    }
  }
  .peter {
    
    .peter-text {
      background-color: $main-light;
      //background-color: rgba(39, 37, 37, 0.386);
      
      p {
        @include paragraph;
        font-size: calc(1rem + 0.390625vw);
        padding: $padding-small $padding-small 0;
        color:black;
        font-weight: 500;
      }
    }
  }

  .icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
      margin: 0.5rem;
    }
  }
}

// Media Queries-----------------------------

@include s {
  .container {
    width: 100%;
  }
  .mainup {
    padding: 0.2rem;
    .first {
      padding: 0.2rem;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      .text {
        width: 90%;
        margin: 0.5rem;
        h2 {
          margin: 0.5rem;
          font-size: calc(2rem + 0.390625vw);
        }
        p {
          margin: 0.2rem;
        }
      }
      img {
        min-width: 0;
        margin: 0.5rem;
        padding: 0.2rem;
        width: 90%;
      }
    }
    .values-container {
      padding: 1rem;
      justify-content: center;
      flex-direction: column;
      div {
        max-width: 350px;
        flex-flow: row wrap;
        h3 {
          font-size: 1rem;
        }
        p {
          display: none;
        }
      }
    }
    .peter {
      .peter-img {
        height: auto;
        img {
          max-width: 200px;
          height: auto;
        }
      }
      .peter-text {
      width: auto;
      text-align: center;
      h3 {
        font-size: 2rem;
      }
       
        p {
          font-size: 1rem;
        }
      }
    }
    .icons {
      width: auto;
      justify-content: center;
      a {
        margin: 0.5rem;
      }
    }
  }
}

@include m {
  .container {
    width: 100%;
  }
  .mainup {
    .first {
      padding: 0.2rem;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      .text {
        width: 90%;
        margin: 0.5rem;
        h2 {
          margin: 0.5rem;
        }
        p {
          margin: 0.2rem;
        }
      }
      img {
        min-width: 0;
        margin: 0.5rem;
        padding: 0.2rem;
        width: 90%;
      }
    }
    .values-container {
      width: 100%;
      display: flex;
      padding: 1rem;
      justify-content: center;
      flex-wrap: wrap;
    }
    .peter {
      .peter-img {
        display: flex;
        height: auto;
        align-items: center;
        img {
          max-width: 250px;
          height: auto;
        }
      }
      .peter-text {
        width: auto;
        max-width: 500px;
        text-align: center;
      }
    }
  }
}
