@import '../../../scss/config.scss';
@import '../../../scss/buttons.scss';

.admin {
  margin: auto;
  .admin-wrapper {
    margin-top: 6rem;
    display: flex;
  }
  .admin-nav {
    height: 150px;
    margin-right: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    //background-color: rgba(70, 115, 115, 0.2);
    background-color: rgb(217, 153, 35, 0.5);
    border-radius: 5px;
    .admin-nav-link {
      font-size: calc(12px + 0.390625vw);
      color: $font-white;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      padding: 1rem;
      font-family: 'Raleway', sans-serif;
      &:hover {
        background-color: $main-yellow;
        border: 1px solid white;
      }
    }
  }

  .outlet-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}

// Media queries---------------

@include s {
  .admin {
    .admin-nav {
      flex-direction: row;
    }
  }
}

@include m {
  .admin {
    .admin-wrapper {
      margin-top: 5rem;
      flex-direction: column;
    }
    .admin-nav {
      flex-direction: row;
      width: 100%;
      height: fit-content;
      min-height: 85px;
    }

    .outlet-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
