@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


// Colors commonly used
$main-green: #467373;
$main-yellow: #d99923;
$main-light: #f2f2f2;
$main-grey1: #cccccc;
$main-grey2: #999999;
$main-grey3: #666666;
$main-grey4: #333333;
$main-black: #262626;

//Font Colors
$font-white: #ffffff;

//Fonts
$font-heading: "Roboto", sans-serif;
$font-paragraph: "Raleway", sans-serif;

//Use this subtitles mixin for mainDown and mainUp subtitles
@mixin subtitles {
  font-size: 2.6rem;
  font-weight: 500;
  font-family:$font-heading;
}

//Use this mixin for buttons and capitalized(Our Tours and Submit button in landing page)
@mixin navlinks {
  font-size: 1.7rem;
  font-weight: 400;
  font-family:$font-paragraph;
}

//This should be capitalized (Welcome to )
@mixin header {
  font-size: 3rem;
  font-weight: 300;
  font-family:$font-paragraph;
}

//Header for (Kili Excursions)
@mixin company {
  font-family: "Road Rage", cursive;
  font-size: 8rem;
  color:$main-yellow;
}
//For paragraph
@mixin paragraph {
  font-family:$font-paragraph;
  font-size: 1.7rem;
  font-weight: 300;
}
//for the titles we we are offering and contact us
@mixin titles {
  font-size: 5.3rem;
  font-weight: 600;
  font-family:$font-heading;
}

//the titles in forms (Name, Email, Message) capitalized only for the titles in the footer
@mixin formTitles {
  font-size: 1.7rem;
  font-weight: 500;
  font-family:$font-heading;
}

//for the text in the footer
@mixin footerText {
  font-size: 1.3rem;
  font-weight: 300;
  font-family:$font-paragraph;
}

.container {
  width: 80%;
  padding:4em;
 
 
}

$padding-small:1em;
$padding-medium:2em;
$padding-large:4em;

$border-small:2px;
$border-medium:4px;

$border-radius-small:2px;
$border-radius-medium:4px;
$border-radius-large:10px;


$breakpoints: (
"s":0, //mobile from 0 to 480px s mobile
"m": 480px, //tablet from 481px to 1024px m tablet
"l": 1024px, //desktop from 1025px to 1200px l desktop
);

@mixin s {
@media (min-width: map-get(§$breakpoints, "s")) {
@content;
}
}

@mixin m {
@media (min-width: map-get(§$breakpoints, "m")) {
@content;
}
}

@mixin l {
@media (min-width: map-get(§$breakpoints, "l")) {
@content;
}
}

// This is flexible breakpoint, we can specify whatever extra
@mixin breakpoint($bp: 0) {
@media (min-width: $bp) {
@content;
}
} 



