@import '../../../scss/config.scss';
@import url('https://fonts.cdnfonts.com/css/road-rage');

.main__div {
  
  top: 0;
  text-align: center;

  .bg-imgEl {
    width: 100%;
    position: relative;
  }

  .main__header {
    position: absolute;
    top: 14rem;
    width: 100vw;

    .overlay {
      background-color: rgba(247, 246, 246, 0.123);
      padding: 1em;
      width: 100vw;
    }
    h2 {
      @include header;
      color: white;
      text-transform: uppercase;
      font-size: calc(2rem - 0.03434vw);
      display: block;
    }
    .logo2 {
      height: 15rem;
      width: auto;
    }
    .Company_name2 {
      font-family: 'Road Rage', cursive;
      font-size: calc(3rem - 0.390625vw);
      color: #d99923;
      margin: 0 !important;
      display: none;
    }
    /* 
      li {
        list-style-type: none;
  .linkToTours {
    text-decoration: none;
    color:white;
    font-size: 0.6rem;
    font-family: roboto;
    display: none;
  }
} */

    p {
      font-size: 1.2rem;
      color: white;
      padding: 0.01em;
      margin-bottom: 0.3em;
    }

    button {
      background-color: transparent;
      font-size: 1.7rem;
      color: white;
      border: 3px solid white;
      padding: 0.5rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $main-yellow;
        cursor: pointer;
      }
    }
  }
}



@include s {
  .main__div {
    

    .main__header {
      top:2rem;

      h2 {
        font-size: calc(1.3rem + 0.390625vw);
        display: none;
      }

      .logo2 {
        height: 15rem;
        width: auto;
      }


      button {
        font-size: calc(10px + 0.390625vw);
        border: 2px solid rgb(255, 255, 255);
        margin: 0.2rem;
      }
    }
  }
}



@include m {
  .main__div {
    
    .main__header {
      top:2rem;
      

      h2 {
        font-size: calc(1.3rem + 0.390625vw);
      }

      .logo2 {
        height: calc(5rem + 5vw);
        width: auto;
      }


      button {
        font-size: calc(10px + 0.390625vw);
        border: 2px solid white;
      }
    }
  }
}
