@import '../../../../scss/_config.scss';

.app__navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $main-grey4;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
}

.app__navbar-logo {
  width: 240px;
  height: auto;
  padding: 0.2rem;
  p {
    width: 100%;
    object-fit: cover;
    font-size: calc(60px + 0.390625vw);
    color: #f99923;
    font-family: "Road Rage";
  }
}

@include s {
  .app__navbar {
    height: 70px;
    background: transparent;
  }
  .app__navbar-logo {
    //float: right;
    display: none;
    width: 150px;
    height: auto;
  }
}

@include m {
  .app__navbar {
    height: 80px;
    background: transparent;
  }
  .app__navbar-logo {
   // display: none;
    width: 250px;
    height: auto;
  }
}
