@import "../../../../scss/_config.scss";


.img {
    width:100%;
    height:10rem
}

.nameOfRoute { 
  @include formTitles;   
  color:red
  

}

.subtitles {
  @include subtitles;
  font-size: 1.2rem;

}
