@import "../../../../scss/_config.scss";


.img {
    width:100%;
    height:10rem
}

.nameOfRoute { 
  @include formTitles;   
  font-size: 1.8rem !important;
  font-weight: 500 !important;


  

}

.subtitles {
  @include subtitles;
  font-size: 1.2rem;

}

Button {
  @include navlinks;
}

.MuiButton-root {
  margin:0.5rem !important

}