@import '../../../scss/_config.scss';

.value-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  padding: $padding-small;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 5px;
  margin: 0.2rem auto;

  .icon {
    border: $border-medium solid $main-yellow;
    padding: 0.7rem;
    border-radius: 50%;
    margin-bottom: 0.6rem;
  }
  h3 {
    @include subtitles;
    font-size: calc(20px + 0.390625vw);
    text-align: center;
  }
  p {
    @include paragraph;
    font-size: calc(16px + 0.390625vw);
    padding: $padding-small $padding-small 0;
    text-align: center;
    height: 60%;
    overflow-y: auto;
  }
}

@include s {
  .value-card {
    width: 100%;
    justify-content: flex-start;
    h3 {
      margin: 0.5rem;
    }
  }
}

@include m {
  .value-card {
    min-width: 180px;
    .icon {
      padding: 0.5rem;
    }
  }
}
